.card_block{
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
    height: 100%;
    width: 80%;
}
.card {
    border: 1px solid #f8e8f8;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    width: 150px;
    height: 230px;
    margin-right: 30px;

}
.card span {
    text-transform: uppercase;
    opacity: 0.5;
}
.card:hover {
    box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.06);
    transition: box-shadow 0.2s ease-in-out;


}


b {
    font-size: 14px;
    text-transform: uppercase;

}

.button {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 8px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}
